{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello!</title>
{% endblock meta %}

{% block css %}
<!-- Tailwind CSS Framework -->
<link href="https://unpkg.com/tailwindcss@^1/dist/tailwind.min.css" rel="stylesheet">

<!-- Slick Carousel -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<link href="{% static 'main/css/index.css' %}" rel="stylesheet">

<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'main/js/index.js' %}"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock css %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% if register_form.errors %}
    {% for field in register_form %}
        {% for error in field.errors %}
            <div class="error">
                {{ error|escape }} 
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in register_form.non_field_errors %}
        <div class="error">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
<section class="relative bg-auto bg-contain bg-right-bottom bg-no-repeat px-16 pt-8">
  <header class="text-4xl lg:text-6xl font-bold">
    <h1>Save yourself</h1>
    <h1>Save the world</h1>
  </header>
  <p class="text-md lg:text-xl lg:w-3/4 pt-6">Cara terbaik untuk mencegah dan memperlambat penularan adalah dengan mengetahui dengan baik tentang virus, penyakit yang ditimbulkannya dan bagaimana penyebarannya.</p>
  <svg width="283" height="189" viewBox="0 0 343 249" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-0 left-0" style="z-index: -1;">
      <path d="M343 -21C343 128.117 222.117 249 73 249C-76.1169 249 -197 128.117 -197 -21C-197 -170.117 -76.1169 -291 73 -291C222.117 -291 343 -170.117 343 -21Z" fill="#BFD1FF"/>
  </svg>
  <svg width="250" height="105" viewBox="0 0 290 145" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-0 bottom-0 pl-12" style="z-index: -1;">
      <path d="M0 145C0 125.958 3.75054 107.103 11.0375 89.5109C18.3244 71.9187 29.005 55.934 42.4695 42.4695C55.934 29.005 71.9187 18.3244 89.5109 11.0375C107.103 3.75053 125.958 -8.32338e-07 145 0C164.042 8.32338e-07 182.897 3.75054 200.489 11.0375C218.081 18.3244 234.066 29.005 247.53 42.4695C260.995 55.934 271.676 71.9187 278.963 89.5109C286.249 107.103 290 125.958 290 145L145 145L0 145Z" fill="#BFD1FF"/>
  </svg>
  <div style="height: 6rem;"></div>
  <img src="../../static/main/images/doctor.png" alt="Test" class="hidden md:block max-w-lg absolute right-0 bottom-0 pr-16" style="z-index: -1;">
</section>

<section class="mx-8 my-4 flex flex-row flex-wrap justify-center">
  <div class="flex flex-row flex-wrap items-center rounded-2xl mb-4 p-4 justify-center max-w-3xl text-center gap-x-2" style="background-color: #F3F1FF;" id="covid-status">
    <div>
      <header class="text-2xl" id="positif">-</header>
      <p class="font-bold text-sm md:text-lg">Positif</p>
    </div>
    <div class="h-16 border-solid border-black border-l-2"></div>
    <!-- <div>
      <header class="text-2xl" style="color: var(--yellow);">-</header>
      <p class="font-bold text-sm md:text-lg">Dirawat</p>
    </div> -->
    <!-- <div class="h-16 border-solid border-black border-l-2"></div> -->
    <div>
      <header class="text-2xl" style="color: var(--green);" id="sembuh">-</header>
      <p class="font-bold text-sm md:text-lg">Sembuh</p>
    </div>
    <div class="h-16 border-solid border-black border-l-2"></div>
    <div>
      <header class="text-2xl" style="color: var(--red);" id="meninggal">-</header>
      <p class="font-bold text-sm md:text-lg">Meninggal</p>
    </div>
  </div>
</section>

<section class="flex flex-col mx-8 my-4 gap-4 mb-4 items-center">
  <div class="rounded-2xl p-4 flex flex-col md:flex-row align-center gap-x-4 justify-center w-3/5 shadow-xl" style="background-color: #D8E7FF;">
    <div>
      <header class="text-2xl font-bold">Mulai Asesmen!</header>
      <p class="mb-4">Ikuti asesmen untuk mengetahui kondisimu</p>
      <div class="inline-block rounded-2xl px-6 py-1 text-white text-center" style="background-color: var(--blue-dark);">
        <a href="" class="text-white text-center">Mulai Asesmen</a>
      </div>
    </div>
    <img src="{% static 'main/images/virus.png' %}" alt="Medical Report Image" class="h-32 w-auto hidden md:block">
    <img src="{% static 'main/images/virus.png' %}" alt="Medical Report Image" class="h-32 w-auto transform -rotate-45 hidden lg:block">
  </div>
  
  <div class="rounded-2xl p-4 flex flex-col md:flex-row justify-center gap-x-4 w-3/5 shadow-xl" style="background-color: #ADCEFF;">
    <img src="{% static 'main/images/medical-report.png' %}" alt="Medical Report Image" class="h-auto w-auto hidden md:block">
    <div>
      <header class="text-2xl font-bold">Kunjungi Lokasi Rapid Test</header>
      <p class="mb-4">Dapatkan informasi  mengenai lokasi Rapid Test terdekat</p>
      <div class="inline-block rounded-2xl px-6 py-1 text-center" style="background-color: var(--blue-dark);">
        <a href="{% url 'TK1.apps.nadia:lokasiTest' %}" class="text-white">Lokasi Rapid Test</a>
      </div>
    </div>
  </div>
</section>

{% include 'main/news.html' %}

{% include 'main/tips.html' %}

{% include 'main/news-form.html' %}
{% include 'main/tips-form.html' %}

{% include 'main/template.html' %}

{% endblock content %}
