{% load static %}

<section class="mx-8 mb-4" id="news-container">
  <header class="font-bold text-2xl mb-4">Berita seputar COVID-19</header>
  <!-- grid grid-flow-row sm:grid-cols-2 md:grid-cols-3 gap-4 items-center md:justify-center -->
  <div class="px-4 md:px-16 gap-4" id="news">
    <!-- <div class="border-solid border-2 rounded-lg overflow-hidden">
      <a href="https://www.voaindonesia.com/a/efektivitas-vaksin-covid-19-eksperimental-modena-lebih-dari-90-persen/5664646.html" target="_blank" rel="noopener noreferrer">
        <img src="https://gdb.voanews.com/7DDA3B9A-A0E2-4E2A-9B32-057273B75E11_cx0_cy3_cw0_w1023_r1_s.jpg" alt="Botol dengan stiker bertuliskan, 'COVID-19 / vaksin Coronavirus / hanya untuk injeksi' dan jarum suntik terlihat di depan logo Moderna, 31 Oktober 2020. (REUTERS / Dado Ruvic / Ilustrasi)" class="w-full">
      </a>
      <header class="px-6 py-4 font-bold">Efektivitas Vaksin COVID-19 Eksperimental Moderna Lebih dari 94 Persen</header>
    </div>
    <div class="border-solid border-2 rounded-lg overflow-hidden">
      <a href="https://palu.tribunnews.com/2020/11/17/dirjen-who-vaksin-saja-tidak-cukup-untuk-menghentikan-pandemi-covid-19" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn-2.tstatic.net/palu/foto/bank/images/tedros.jpg" alt="'Vaksin saja tidak akan mengakhiri pandemi Covid-19,'' kata Direktur Jenderal WHO Tedros Adhanom Ghebreyesus pada Senin (16/11/2020)" alt="Ilustrasi tes Covid-19, deteksi Covid-19, pengujian virus corona" class="w-full">
      </a>
      <header class="px-6 py-4 font-bold">Dirjen WHO: Vaksin Saja Tidak Cukup untuk Menghentikan Pandemi Covid-19</header>
    </div>
    <div class="border-solid border-2 rounded-lg overflow-hidden">
      <a href="https://ternate.tribunnews.com/2020/11/17/breaking-news-tambah-3807-total-kasus-virus-corona-indonesia-jadi-474455-per-17-november-2020" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn-2.tstatic.net/ternate/foto/bank/images/poster-ilustrasi-virus-corona-atau-covid-19.jpg" alt="Ilustrasi tes Covid-19, deteksi Covid-19, pengujian virus corona" class="w-full">
      </a>
      <header class="px-6 py-4 font-bold">BREAKING NEWS: Tambah 3.807, Total Kasus Virus Corona Indonesia Jadi 474.455 per 17 November 2020</header>
    </div> -->
    {% for each in news %}
      <div class="border-solid border-2 rounded-lg overflow-hidden justify-between">
        <div class="flex flex-col">
          <a href="{{ each.link }}" target="_blank" rel="noopener noreferrer">
            <object data="{{ each.image_headline }}" type="image/jpeg" class="w-full">
              <img src="https://via.placeholder.com/600x350?text=Image+Not+Found" class="w-full">
            </object>
          </a>
          <header class="px-6 pt-4 font-bold">{{ each.title }}</header>
          <p class="px-6 pt-1 pb-4">Author: {{ each.user.username }}</p>
        </div>
        {% if user.is_authenticated and user == each.user %}
          <div class="py-4 flex justify-center bg-red-500 mt-auto w-full">
            <a href="{% url 'main:remove_news' each.id %}" class="px-8 rounded-2xl">Delete</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  {% if user.is_authenticated %}
  <div class="flex flex-col items-center justify-center mt-4">
    <!-- href="{% url 'main:news' %}" -->
    <button id="add-news" class="flex flex-col items-center justify-center text-black text-center inline-block rounded-2xl">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
    Add News
    </button>
  </div>
  {% else %}
  <p class="col-span-3 text-center pt-4 font-bold text-lg">Login to add more news!</p>
  {% endif %}
</section>