{% load static %}

<section id="news-form" class="hidden">
    <header class="text-2xl text-center">Add News</header>
    <form action="{% url 'main:news' %}" method="POST">
        {% csrf_token %}
        <div class="frm rounded-lg">
            {{ news_form.title.label_tag }}
            {{ news_form.title }}
        </div>

        <div class="frm">
            {{ news_form.link.label_tag }}
            {{ news_form.link }}
        </div>

        <div class="frm">
            {{ news_form.image_headline.label_tag }}
            {{ news_form.image_headline }}
        </div>

        <div class="text-center">
            <input type="submit" value="Add" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
        </div>
    </form>
</section>
