{% load static %}

<template id="news-template">
    <div class="border-solid border-2 rounded-lg overflow-hidden">
        <div class="flex flex-col">
          <a href="{{ each.link }}" target="_blank" rel="noopener noreferrer" id="url-link">
            <object data="{{ each.image_headline }}" type="image/jpeg" class="w-full">
              <img src="https://via.placeholder.com/600x350?text=Image+Not+Found" class="w-full">
            </object>
          </a>
          <header class="px-6 pt-4 font-bold"></header>
          <p class="px-6 pt-1 pb-4"></p>
        </div>
        {% if user.is_authenticated and user == each.user %}
          <div class="py-4 flex justify-center bg-red-500 mt-auto w-full">
            <a href="{% url 'main:remove_news' each.id %}" class="px-8 rounded-2xl">Delete</a>
          </div>
        {% endif %}
      </div>
</template>

<template id="tips-template">
    <div class="text-center flex flex-col items-center justify-center">
        {% if each.image %}
          <img src="{{ each.image.url }}" alt="Tips 1" class="w-1/3 mb-4 rounded-full">
        {% else %}
          <img src="{% static 'main/images/logo.svg' %}" alt="Tips 1" class="w-1/3 mb-4 rounded-full">
        {% endif %}
        <header class="font-bold mb-4">{{ each.title }}</header>
        <p>{{ each.description }}</p>
        <p class="pt-4">Author: {{ each.user.username }}</p>
        {% if user.is_authenticated and user == each.user %}
          <div class="px-6 py-2 rounded-full flex justify-center bg-red-500 disabled">
            <a href="{% url 'main:remove_tips' each.id %}" class="px-8 rounded-2xl">Delete</a>
          </div>
        {% endif %}
    </div>
</template>