{% load static %}

<section class="hidden" id="tips-form">
    <header class="text-2xl text-center">Add Tips</header>
    <form action="{% url 'main:tips' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="frm">
            {{ tips_form.title.label_tag }}
            {{ tips_form.title }}
        </div>

        <div class="frm">
            {{ tips_form.description.label_tag }}
            {{ tips_form.description }}
        </div>

        <div class="frm">
            {{ tips_form.image.label_tag }}
            {{ tips_form.image }}
        </div>

        <div class="text-center">
            <input type="submit" value="Add" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
        </div>
    </form>
</section>