{% load static %}

<section class="mx-8 mb-4" id="tips-container">
  <header class="font-bold text-2xl mb-4">Pencegahan COVID-19</header>
  <div class="grid grid-flow-row sm:grid-cols-2 md:grid-cols-3 gap-4 px-4 md:px-16 pb-8">
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips1.png' %}" alt="Tips 1" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Menjaga kebersihan</header>
      <p>Mencuci tangan dengan rutin menggunakan sabun dan air atau pembersih tangan berbahan alcohol</p>
    </div>
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips2.png' %}" alt="Tips 2" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Menggunakan masker</header>
      <p>Menggunakan masker pada saat berpergian jika pembatasan fisik tidak memungkinkan</p>
    </div>
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips3.png' %}" alt="Tips 3" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Melakukan social distancing</header>
      <p>Selalu jaga jarak aman dengan orang lain terlebih dengan orang yang batuk atau bersin</p>
    </div>
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips4.png' %}" alt="Tips 4" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Tetap di dalam rumah</header>
      <p>Jika tidak ada kepentingan yang mendesak maka sangat dianjurkan untuk menetap dalam rumah</p>
    </div>
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips5.png' %}" alt="Tips 5" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Menghindari makanan setengah matang</header>
      <p>Memasak makanan sampai makanan tersebut benar-benar matang agar aman dikonsumsi</p>
    </div>
    <div class="text-center flex flex-col items-center justify-center">
      <img src="{% static 'main/images/tips6.png' %}" alt="Tips 6" class="w-1/3 mb-4">
      <header class="font-bold mb-4">Menjaga pola hidup sehat</header>
      <p>Melakukan olahraga rutin yang diimbangi dengan asupan gizi yang cukup agar tetap bugar</p>
    </div>
    {% for each in tips %}
      <div class="text-center flex flex-col items-center justify-center">
        {% if each.image %}
          <img src="{{ each.image.url }}" alt="Tips 1" class="w-1/3 mb-4 rounded-full">
        {% else %}
          <img src="{% static 'main/images/logo.svg' %}" alt="Tips 1" class="w-1/3 mb-4 rounded-full">
        {% endif %}
        <header class="font-bold mb-4">{{ each.title }}</header>
        <p>{{ each.description }}</p>
        <p class="pt-4">Author: {{ each.user.username }}</p>
        {% if user.is_authenticated and user == each.user %}
          <div class="px-6 py-2 rounded-full flex justify-center bg-red-500 disabled">
            <a href="{% url 'main:remove_tips' each.id %}" class="px-8 rounded-2xl">Delete</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="flex justify-center">
      <!-- href="{% url 'main:tips' %}"  -->
      <button id="add-tips" class="flex flex-col items-center justify-center text-black text-center inline-block rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        Add Tips
      </button>
    </div>
    {% else %}
    <p class="sm:col-span-2 md:col-span-3 text-center pt-4 font-bold text-lg">Login to add more tips!</p>
    {% endif %}
  </div>
</section>