/* Project-wide style */

:root {
    --blue-light: #94B2FF;
    --blue-medium: #ADCEFF;
    --blue-dark: #3E68FF;
    --yellow: #EBC029;
    --green: #24B50D;
    --red: #FF0606;
    --gray: #F2F2F2;
    --black: #000000;
}

body {
    font-family: Poppins, Raleway;
}

a, a:link, a:visited {
    color: var(--black);
    text-decoration: none;
    background-color: transparent;
}

/* Styling for footer and navbar */

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Helper class for enabling and disabling the dropdown */
.active {
    display: block;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--black);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    column-gap: 1rem;
}

#navbar a:hover {
    font-weight: 700;
}

/* This shit needs work */
#navbar button {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    align-self: flex-end;
    border-radius: 0.25rem;
    --tw-border-opacity: 1;
    border-color: rgb(222, 226, 230);
    background-color: transparent;
    line-height: 0;
}

#navbar button svg {
    height: 0.75rem;
    width: 0.75rem;
}

#navbar button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#mobileMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    row-gap: 1rem;
}

#mobileMenu > * {
    display: block;
}

#user {
    display: flex;
    column-gap: 0.25rem;
    background-color: var(--blue-dark);
    border-radius: 1rem;
    padding: .25rem 1.25rem;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    color: #FFF;
    background-color: var(--blue-light);
}

#footer p {
    display: block;
    font-size: larger;
}

#content {
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    #navbar {
        flex-direction: row;
        align-items: center;
    }

    #navbar button {
        display: none;
    }

    #mobileMenu {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
    }

    #mobileMenu > * {
        margin-top: 0;
    }
}
