p{
    font-weight: 200;
}

h1{
    text-align: center;
    size: 70cm;
}

.images{
 float: right;
 right: 100;
 margin-top: 10%;
}

.images1{
    width: 20%;
    height: 20%;
}

.container{
    margin-left: 10%;

}



.cards{
    width: 23rem;
    align-items: center;
    background-color:  #F3F1FF;
    float: left;
    height: 29rem;
    margin-bottom: 20px;
    margin-left: 20px;
}

.content{
    width: 40%;
}

.header{
    background-image: url('images/doctor.svg');
}

#text {
    opacity: 1;
    transition: opacity 1s; 
  }
  
#text.fade {
    opacity: 0;
}

