{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  {% block meta %}
  <!-- Title Tag -->
  {% endblock meta %}
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block css %}
  <!-- Custom CSS -->
  {% endblock css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- <link href="https://unpkg.com/tailwindcss@^1/dist/tailwind.min.css" rel="stylesheet"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'main/images/logo.svg' %}">

</head>

<body>
  <!-- NavBar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="navbar">
    <button onclick="toggleMenu()" class="border border-black">
      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
    <!-- class="block mt-4 md:inline-block md:mt-0" -->
    <div id="mobileMenu">
      <a href="{% url 'main:home' %}">Home</a>
      <a href="">Statistik</a> 
      <a href="{% url 'TK1.apps.nadia:lokasiTest' %}">Rapid Test</a>
      <a href="">Assesment</a>
      <div id="user">
        {% if user.is_authenticated %}
          <p>Hello <a href="{% url 'teofanus:profile' %}">{{ user.username }} ! (Click to see profile)</a></p>
          <b>/</b>
          <a href="{% url 'teofanus:logout_account' %}">Logout</a>
        {% else %}
          <a href="{% url 'teofanus:register' %}">Register</a>
          <b>/</b>
          <a href="{% url 'teofanus:login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <script>
    let mobileMenu = document.getElementById('mobileMenu');
    function toggleMenu(){
      if (mobileMenu.style.display === "none") {
        mobileMenu.style.display = "flex";
      } else {
        mobileMenu.style.display = "none";
      }
    }
  </script>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer id="footer">
    <p>Created with 💖 By kelompok B14</p>
  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block script %}{% endblock script %}
</body>
</html>
