{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{% static 'teofanus/css/index.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'teofanus/js/index.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="text-white">
    <div class="flex flex-col md:flex-row mx-8 md:mx-16 mb-8" id="login-form">
        <div class="light rounded-t-xl md:rounded-tr-none md:rounded-bl-xl flex flex-col gap-2 md:w-2/3 h-auto">
            <header class="text-5xl pt-12 text-center">Masuk</header>
            <form action="{% url 'teofanus:login' %}" method="post" class="py-12 px-8 md:px-16">
                {% csrf_token %}
                <div class="frm">
                    {{ login_form.username.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/mail.svg' %}" halt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ login_form.username }}
                    </div>
                </div>

                <div class="frm">
                    {{ login_form.password.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/lock.svg' %}" alt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ login_form.password }}
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Masuk" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                </div>
            </form>
        </div>
        <div class="dark rounded-b-xl md:rounded-bl-none md:rounded-tr-xl flex flex-col gap-2 text-center justify-center py-8 md:py-48 md:w-1/3">
            <p class="text-4xl">Halo!</p>
            <p>Belum pernah mendaftar?</p>
            <a href="{% url 'teofanus:register' %}">
                <button class="light rounded-3xl px-6 py-2 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                    Daftar
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
