{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{% static 'teofanus/css/index.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'teofanus/js/index.js' %}"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock css %}

{% block content %}
<section
      class="pt-16 mb-4"
      style="scroll-snap-align: start"
    >
      <div
        class="text-2xl rounded h-full w-full flex flex-col items-center justify-center"
      >
        <header class="text-6xl md:text-8xl font-bold">Profile</header>
        <div class="text-xl flex flex-col lg:flex-row pt-16 gap-8 items-center">
          {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" alt="Profile Picture" class="w-48 md:w-56 h-48 md:h-56">
          {% else %}
          <img src="{% static 'images/logo.svg' %}" alt="Profile Picture" class="w-32 md:w-48 h-32 md:h-48">
          {% endif %}
          <div class="text-center">
            <div class="flex flex-col">
              <p class="font-bold">Username:</p><p>{{ user.username }}</p>
            </div>
            <div class="flex flex-col">
              <p class="font-bold">Email:</p><p>{{ user.email }}</p>
            </div>
            <div class="flex flex-col">
              <p class="font-bold">Province:</p><p>{{ user.province }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="Profile Picture" class="image-clone hidden">
    {% else %}
    <img src="{% static 'images/logo.svg' %}" alt="Profile Picture" class="image-clone hidden">
    {% endif %}
{% endblock content %}
