{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{% static 'teofanus/css/index.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'teofanus/js/index.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="text-white">
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if register_form.errors %}
        {% for field in register_form %}
            {% for error in field.errors %}
                <div class="error">
                    {{ error|escape }} 
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in register_form.non_field_errors %}
            <div class="error">
               {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex flex-col md:flex-row mx-8 md:mx-16 mb-8" id="register-form">
        <div class="dark flex flex-col gap-2 rounded-t-xl md:rounded-tr-none md:rounded-bl-xl text-center justify-center py-8 md:py-48 md:w-1/3">
            <p class="text-4xl">Halo!</p>
            <p>Sudah pernah mendaftar?</p>
            <a href="{% url 'teofanus:login' %}">
                <button class="light rounded-3xl px-6 py-2 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                    Masuk
                </button>
            </a>
        </div>
        <div class="light flex flex-col gap-2 rounded-b-xl md:rounded-bl-none md:rounded-tr-xl md:w-2/3 h-auto">
            <header class="text-5xl pt-12 text-center">Daftar Akun</header>
             <form action="{% url 'teofanus:register' %}" method="POST" enctype="multipart/form-data" class="py-12 px-8 md:px-16">
                {% csrf_token %}
                <div class="frm">
                    {{ register_form.username.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/user.svg' %}" alt="User Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.username }}
                    </div>
                </div>

                <!-- <div class="flex gap-x-16">
                  <div class="frm w-1/2">
                    {{ register_form.first_name.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/user.svg' %}" alt="User Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.first_name }}
                    </div>
                  </div>
                  <div class="frm w-1/2">
                    {{ register_form.last_name.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/user.svg' %}" alt="User Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.last_name }}
                    </div>
                  </div>
                </div> -->

                <div class="frm">
                    {{ register_form.email.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/mail.svg' %}" alt="Email Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.email }}
                    </div>
                </div>

                <div class="frm">
                    {{ register_form.province.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/map-pin.svg' %}" alt="Location Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.province }}
                    </div>
                </div>

                <div class="frm">
                    {{ register_form.profile_image.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/image.svg' %}" alt="Profile Image Icon" class="py-4 pl-4 w-10">
                        </div>
                        <div 
                            class="flex-grow rounded-r-lg flex items-center"
                            style="background-color: var(--gray);"
                        >
                            {{ register_form.profile_image }}
                        </div>
                    </div>
                </div>

                <div class="frm">
                    {{ register_form.password1.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/lock.svg' %}" alt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.password1 }}
                    </div>
                </div>

                <div class="frm">
                    {{ register_form.password2.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/lock.svg' %}" alt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ register_form.password2 }}
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Daftar" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
