.dark {
    background-color: var(--blue-dark);
}

.light {
    background-color: var(--blue-light);
}

.frm {
    margin-bottom: 1.5rem;
}

.frm label {
    display: block;
    margin: 0.25rem;
    padding-right: 1rem;
}

.frm input {
    background-color: var(--gray);
    appearance: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25;
    color: var(--black);
}

.frm select {
    background-color: var(--gray);
    appearance: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25;
    color: var(--black);
}

.frm input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    /* border-green-light; */
}

.error {
    color: white;
    background-color: red;
    margin: 2rem 4rem 1rem;
    border-radius: .75rem;
    text-align: center;
    padding: 1rem;
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.success {
    color: white;
    background-color: green;
    margin: 2rem 4rem 1rem;
    border-radius: .75rem;
    text-align: center;
    padding: 1rem;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

