{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Rapid Test </title>
{% endblock meta %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/lokasiTest.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock css %}

{% block content %}

<div class="container">
    <img src="{% static 'images/header2.jpg' %}" >
</div>

<div class="container">
    <p> Masukkan lokasi anda </p>
    <div class="form-control form-control-lg" class="container" style="background-color: #F3F1FF;">
        <form method="POST", action="{% url 'TK1.apps.nadia:lokasiTest' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-left">
                <div class="w-70">
                    <input id="id1" class="form-control" type="search" placeholder="{{request.user.province}}" aria-label="Search" name="lokasi">
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
                <br>
                <a href="{% url 'TK1.apps.nadia:comment' %}" style="margin-left: 14cm; background-color: #3E68FF; color: white;" class="btn btn-primary"> Lihat Testimoni Lokasi Rapid Test</a>
            </div>
        </form>
    </div>
{% for tempat in tempats %}
    <div class="card" style="width: 100%; align-items: center; background-color: #F3F1FF;" >
        <h3  style="color: #3E68FF; "> {{tempat.nama_tempat}}</h3>
        <br> 
        <h3 style="width: 80%; font-weight: 300; text-align: justify; font-size: large;"> {{tempat.alamat}} </h3> 
        <h3 style="width: 80%; font-weight: 200; text-align: justify; font-size: large;"> {{tempat.deskripsi}}</h3>
    <div style="align-content: flex-start;"> 
        <div style="width: 3.2cm;"><img src="{% static 'images/map.svg' %}"> </div>
        <a href="{{tempat.gmaps}}" class="btn btn-primary" style="font-size: x-small;" target="_blank" > Lihat di Google Maps  </a>
    </div>
    </div>

{% endfor %}

</div>


{% endblock content %}
{% block script %}
{% endblock script %}